<div class="section-container d-flex flex-column align-items-center">
    <h1 class="section-title">Participations</h1>
    <div class="applications-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Activity Title</th>
                    <th>Date</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody >
                <ng-container *ngFor="let ua of activitiesTable">
                    <tr *ngIf="checkValidation(ua.participant)">
                        <td>
                            {{ua.title}}
                        </td>
                        <td>
                            {{ua.date}}
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>