<div class="section-container d-flex flex-column align-items-center">
    <h1 class="section-title">Participation Applications</h1>
    <div class="applications-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Activity Title</th>
                    <th>Date</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td>
                        title
                    </td>
                    <td>
                        xx/xx/xxxx
                    </td>
                    <td>
                        Approved
                    </td>
                </tr>
                <tr>
                    <td>
                        title
                    </td>
                    <td>
                        xx/xx/xxxx
                    </td>
                    <td>
                        test
                    </td>
                </tr>
                <tr>
                    <td>
                        test
                    </td>
                    <td>
                        xx/xx/xxxx
                    </td>
                    <td>
                        Approved
                    </td>
                </tr>
                <tr>
                    <td>
                        test
                    </td>
                    <td>
                        test
                    </td>
                    <td>
                        test
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>