<div class="passwordPage-container">
    <div class="passwordForm-container">
    
        <form [formGroup]="passwordForm" class="form-group">
            <label for="currentPassword">Enter your email</label>
            <input type="email"class="form-control" formControlName="mail">
        
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" formControlName="oldPassword" class="form-control">
        
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" class="form-control">
            <div *ngIf="newPasswordRequired()" class="alert alert-danger">
                A new password is required
            </div>
            <div *ngIf="newPasswordMinLength()" class="alert alert-dark">
                The password's minimum length should be over 8
            </div>
            <div *ngIf="newPasswordMaxLength()" class="alert alert-dark">
                The password's maximum length should be under 25
            </div>
        
            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-control">
        
            <button type="button" onclick="changePassword()" class="passwordchange-Btn">Change Password</button>
        </form>
        </div>
</div>