<div class="dashboard-main-container">
    <div class="last-month-activitites hover" style="background-color: white;">
        <div class="d-flex align-items-center justify-content-center">
            <h1>Activities Last Month</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr > 
                    <th>Title</th>
                    <th>Date</th>
                    <th>Participant number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mpia of mostParticipatedInActivities">
                    <td>
                        {{mpia.title}}
                    </td>
                    <td>
                        {{mpia.date}}
                    </td>
                    <td class="d-flex justify-content-center">
                        <p class="badge bg-black participant-number" >
                            {{mpia.participantNB}}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
<div class="img-card-container">
    <div class="cardA cards hover">
    
    </div>
    <div class="cardB cards hover">
        
    </div>
    <div class="cardC cards hover">

    </div>
</div>
</div>

<div class="second-container">
<div class="big-image hover">
    
</div>
<div class="informations hover" style="background-color: white;">
    At ArtVibe, our objective remains constant: to create a vibrant community for artistic expression. Despite evolving challenges, everyone in the club works together towards this common goal. Whether seasoned artists or beginners, each member contributes to the shared pursuit of celebrating and elevating human creativity. This unwavering commitment fosters a supportive space where diverse talents converge and thrive.
</div>
</div>
<div class="third-container">
<div class="events hover">
    <h2>Upcoming event:</h2>
        <table style="width:100%;height:100%">
            <tr>
                <th>Title</th>
                <td>{{upComingActivity.title}}</td>
            </tr>
            <tr>
                <th>
                    Date
                </th>
                <td>
                    {{upComingActivity.date}}
                </td>
            </tr>
        </table>
</div>
<div class="events hover">
    <h2>Most Liked Event:</h2>
    <table style="width:100%;height:100%;padding:15px;">
        <tr>
            <th>Title</th>
            <td>{{mostLikedActivity.title}}</td>
        </tr>
        <tr>
            <th>
                Date
            </th>
            <td>
                {{mostLikedActivity.date}}
            </td>
        </tr>
    </table>
</div>
<div class="events hover" >
    <h2>Last Event:</h2>
    <table style="width:100%;height:100%;padding:15px;">
        <tr>
            <th>Title</th>
            <td>{{lastActivity.title}}</td>
        </tr>
        <tr>
            <th>
                Date
            </th>
            <td>
                {{lastActivity.date}}
            </td>
        </tr>
    </table>
</div>
<div class="events hover">
    <h2>Active Event:</h2>
    <table style="width:100%;height:100%;padding:15px;">
        <tr>
            <th>Title</th>
            <td>{{activeActivity.title}}</td>
        </tr>
        <tr>
            <th>
                Date
            </th>
            <td>
                {{activeActivity.date}}
            </td>
        </tr>
    </table>
</div>
</div>
