<div class="dashboard-main-container">
    <div class="last-month-activitites hover">
        <div class="d-flex align-items-center justify-content-center">
            <h1>Activities Last Month</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Participant number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        c# Workshop
                    </td>
                    <td>
                        14/11/2023
                    </td>
                    <td class="d-flex justify-content-center">
                        <p class="badge bg-black participant-number" >
                            12
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        c# Workshop
                    </td>
                    <td>
                        14/11/2023
                    </td>
                    <td class="d-flex justify-content-center">
                        <p class="badge bg-black participant-number">
                            12
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        c# Workshop
                    </td>
                    <td>
                        14/11/2023
                    </td>
                    <td class="d-flex justify-content-center">
                        <p class="badge bg-black participant-number">
                            12
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="most-participating-users hover">
        <div class="d-flex align-items-center justify-content-center">
            <h2>Most Participating Members</h2>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Total participations</th>
                </tr>
            </thead>
            <tbody>
                <tr class="m-p-user-cursor">
                    <td>
                        TBTaleb
                    </td>
                    <td class="d-flex justify-content-center">
                        <p class="badge bg-black participant-number" >
                            12
                        </p>
                    </td>
                </tr>
                <tr class="m-p-user-cursor">
                    <td>
                        TBTaleb
                    </td>
                    <td class="d-flex justify-content-center">
                        <p class="badge bg-black participant-number">
                            12
                        </p>
                    </td>
                </tr>
                <tr class="m-p-user-cursor">
                    <td>
                        TBTaleb
                    </td>
                    <td class="d-flex justify-content-center">
                        <p class="badge bg-black participant-number">
                            12
                        </p>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
<div class="img-card-container">
    <div class="cardA cards hover">
    
    </div>
    <div class="cardB cards hover">
        
    </div>
    <div class="cardC cards hover">

    </div>
</div>
</div>

<div class="second-container">
<div class="big-image hover">
    
</div>
<div class="informations hover">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>
<div class="third-container">
<div class="events hover">
    <h2>Upcoming event:</h2>
</div>
<div class="events hover">
    <h2>Most Liked Event:</h2>
</div>
<div class="events hover">
    <h2>Last Event:</h2>
</div>
<div class="events hover">
    <h2>Active Event:</h2>
</div>
</div>
