<div class="users-container">
    <div class="users-with-search">
        <div class="d-flex justify-content-between">
            <input type="text" placeholder="Search..." class="userslist-search">
            <button class="userslist-sortBtn">Sort A-Z</button>
        </div>
        <div class="users-list">
            <div class="d-flex align-items-center justify-content-center">
                <h1>Users List</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersTable">
                        <td>
                            {{user.username}}
                        </td>
                        <td>
                            {{user.email}}
                        </td>
                        <td>
                            <button class="userslist-deleteBtn" (click)="deleteUserById(user.userID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>