.side{
    overflow: hidden;
    width: 15vh;
    height: 90.7407vh;
    display: flex;
}
.side img{
    height: 100%;
    width: auto;
}
@media screen and (max-width: 1024px){
    .side{
        height:100vh;
    }
}