<div class="userPage-container">
    <div class="userContent-container">
        <div class="activity-part">
            <div class="activity-header">
                    <div>
                        <h1>{{activity.title}}</h1>
                        <p>{{activity.date}}</p>
                    </div>
            </div>
            <div class="activity-section">
                <div class="photo-section">
                    <img [src]="activity.photo" alt="taswiret el post">
                </div>
                <div class="description-section">
                    <h1>MORE DETAILS</h1>
                    <button class="btn btn-dark details-btn" (click)="onClick()">Click here</button>
                </div>
            </div>
            <div class="activity-footer">
                <i class="fa-regular fa-heart fa-2xl" (click)="Like(activity.id)"></i>
                <input type="text" placeholder="Write a comment..."  #message>
                <i class="far fa-comment-alt fa-2xl" (click)="Comment(activity.id,message.value)"></i>
            </div>
        </div>
        <div class="comment-section">
            <div class="comment-banner">
                <p>COMMENTS</p>
            </div>
            <div class="comment-list">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let c of activity.comments">
                        <div>
                            <img src="" alt="">
                            <h3>{{getUserById(c.userID)?.username}}</h3>
                        </div>
                        <p>{{c.message}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
