<div class="userPage-container">
    <div class="userContent-container">
        <div class="activity-part">
            <div class="activity-header">
                    <div>
                        <h1>TITLE TITLE</h1>
                        <p>xx/xx/xxxx</p>
                    </div>
            </div>
            <div class="activity-section">
                <div class="photo-section">
                    <img src="" alt="taswiret el post">
                </div>
                <div class="description-section">
                    <h1>MORE DETAILS</h1>
                    <button class="btn btn-dark details-btn">Click here</button>
                </div>
            </div>
            <div class="activity-footer">
                <i class="fa-regular fa-heart fa-2xl"></i>
                <input type="text" placeholder="Write a comment...">
                <i class="fa-regular fa-star fa-2xl"></i>
            </div>
        </div>
        <div class="comment-section">
            <div class="comment-banner">
                <p>COMMENTS</p></div>
            <div class="comment-list">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <img src="" alt="">
                            <h3>Foulen</h3>
                        </div>
                        <p> Malla post sa7bi</p>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <img src="" alt="">
                            <h3>Foulen</h3>
                        </div>
                        <p> Malla post sa7bi</p>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <img src="" alt="">
                            <h3>Foulen</h3>
                        </div>
                        <p> Malla post sa7bi</p>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <img src="" alt="">
                            <h3>Foulen</h3>
                        </div>
                        <p> Malla post sa7bi</p>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
