<form (ngSubmit) = "onSubmit()" action="" class="activity-container">
    <label for="">Username</label>
    <input type="text" placeholder="Enter your username"  [(ngModel)]="newUser.username" name="username">
    <label for="">Email</label>
    <input type="email" placeholder="Enter your e-mail..."  [(ngModel)]="newUser.email" name="email">
    <label for="">Password</label>
    <input type="password" placeholder="Enter your password..."  [(ngModel)]="newUser.pwd" name="pwd">
    <button>SIGN UP</button>
</form>

