<form (ngSubmit) = "onSubmit()" action="" class="activity-container d-flex flex-column align-items-center">
    <label for="" style="align-self: flex-start; margin:1rem 0;">Username</label>
    <input type="text" placeholder="Enter your username"  [(ngModel)]="newUser.username" name="username">
    <label for="" style="align-self: flex-start; margin:1rem 0;">Email</label>
    <input type="email" placeholder="Enter your e-mail..."  [(ngModel)]="newUser.email" name="email">
    <label for="" style="align-self: flex-start; margin:1rem 0;">Password</label>
    <input type="password" placeholder="Enter your password..."  [(ngModel)]="newUser.pwd" name="pwd">
    <p [innerHTML]="newUser.pwd | passwordStrnthPipe"></p>    <button>SIGN UP</button>
    <a routerLink="/form/login">Already have an account ? Login instead.</a>
</form>

