.section-container{
    background-image: url(../../../assets/images/contentListBackground.png);
    min-height: 90vh;
}

.section-title{
    font-family: saint;
    text-transform: uppercase;
    color: black;
    font-size: 7rem;
    margin-top: 5rem;
    text-shadow: 0 0 10px;
}

ul{
    padding: 0;
}