<div class="userProfile-container">
    <div class="username">
        <h1>{{username}}</h1>
    </div>
    <div class="post-interactions">
        <div class="suggestion-section d-flex justify-content-center align-items-center">
            <h1>Suggestions :</h1>
        </div>
        <div class="suggestionInput-section">
            <form action="" class="form-group">
                <input type="text" name="" id="suggestionInput" class="form-control" placeholder="Add a suggestion...">
                <button type="submit" id="suggestionSubmit" class="form-control">Submit</button>
            </form>
        </div>
    </div>
    <div class="user-informations">
        <div class="infos d-flex">
            <div class="d-flex flex-column align-items-center" style="margin-left: 1rem;">
                <img src="" alt="profile pic">
                <h1>{{username}}</h1>
            </div>
            <div class="d-flex;">
                <button class="btn btn-dark pass-btn" (click)="navigateToChangePassword('user/'+id+'/PasswordChangingPage/'+id)">Change your password</button>
                <input type="file" class="btn btn-dark photo-btn">  
            </div>       
        </div>
        <div class="artvibe-section d-flex flex-column justify-content-center align-items-center">
            <p style="font-weight: bold;font-size: 1.5rem;color: black;">The sound of iset.charguia</p>
            <h2>ARTVIBE</h2>
        </div>
    </div>
</div>