<div class="userProfile-container">
    <div class="username">
        <h1>username</h1>
    </div>
    <div class="post-interactions">
        <div class="likedPosts d-flex flex-column">
            <h1>Liked posts</h1>
            <a routerLink="/userProfile/likedPosts"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="savedPosts flex-column">
            <h1>Saved posts</h1>
            <a routerLink="/userProfile/saveddPosts"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="applications flex-column">
            <h1>Applications</h1>
            <a routerLink="/userProfile/userApplications"><i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="user-informations">
        <div class="infos d-flex">
            <div class="d-flex flex-column align-items-center" style="margin-left: 1rem;">
                <img src="" alt="profile pic">
                <h1>Username</h1>
            </div>
            <div>
                <p style="width: 30rem;margin-left: 2rem;">A silly little bio for a silly little person that doesnt care about the economical state of the 
                    world right now and just shares cat memes on the internet</p>
                <button class="btn btn-dark bio-btn">Edit you bio</button>
                <button class="btn btn-dark pass-btn">Change your password</button>  
            </div>       
        </div>
        <div class="artvibe-section d-flex flex-column justify-content-center align-items-center">
            <p style="font-weight: bold;font-size: 1.5rem;color: black;">The sound of iset.charguia</p>
            <h2>ARTVIBE</h2>
        </div>
    </div>
</div>