<div class="userProfile-container">
    <div class="username">
        <h1>{{user.username}}</h1>
    </div>
    <div class="post-interactions">
        <div class="suggestion-section d-flex justify-content-center align-items-center">
            <h1>Things you can do in your free time:</h1>
        </div>
        <table class="d-flex;justify-content-center" style="width:60%;">
            <tr>
                <td style="text-align:center">
                    {{hobbies.hobby}}
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    {{hobbies.category}}
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <a href="{{hobbies.link}}">Check Link</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="user-informations">
        <div class="infos d-flex">
            <div class="d-flex align-items-center justify-content-between" style="margin-left: 1rem;width:90%">
                <img [src]="user.photo" alt="profile pic" style="height:150px;width:150px;">
                <button class="btn btn-dark pass-btn" (click)="navigateToChangePassword('user/'+id+'/PasswordChangingPage/'+id)">Change your password</button>
            </div>
        </div>
        <div class="artvibe-section d-flex flex-column justify-content-center align-items-center">
            <p style="font-weight: bold;font-size: 1.5rem;color: black;">The sound of iset.charguia</p>
            <h2>ARTVIBE</h2>
        </div>
    </div>
</div>