
<mat-toolbar class="Artvibe_Header">
    <mat-toolbar-row>
        <button (click)="sidenav.toggle();" mat-icon-button>
            <mat-icon class="menu-button" >menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="dashboard-sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/home">
                <div routerLinkActive="dashboard-sidnav-i" [routerLinkActiveOptions]="{exact: true}">
                    Home
                </div>
            </a>
            <a mat-list-item routerLink="/user/{{id}}/contentList/{{id}}">
                <div routerLinkActive="dashboard-sidnav-i">
                    Content
                </div>
            </a>
            <a mat-list-item routerLink="/admin/{{id}}/activitieslist/{{id}}">
                <div routerLinkActive="dashboard-sidnav-i">
                    Activities List
                </div>
            </a>
            <a mat-list-item routerLink="/admin/{{id}}/userslist/{{id}}">
                <div routerLinkActive="dashboard-sidnav-i">
                    Users List
                </div>
            </a>
            <a mat-list-item routerLink="/admin/{{id}}/requests/{{id}}">
                <div routerLinkActive="dashboard-sidnav-i">
                    Requests
                </div>
            </a>
            <a mat-list-item routerLink="/user/{{id}}/userProfile/{{id}}">
                <div routerLinkActive="dashboard-sidnav-i">
                    Profile
                </div>
            </a>
            <a mat-list-item routerLink="/admin/{{id}}/PasswordChangingPage/{{id}}">
                <div routerLinkActive="dashboard-sidnav-i">
                    Change Password
                </div>
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height:100%;width:100%;scroll-behavior: smooth;">
        <!--######################ROUTER OUTLET######################-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
