

<mat-toolbar class="Artvibe_Header">
    <mat-toolbar-row>
        <button (click)="sidenav.toggle();" mat-icon-button>
            <mat-icon class="menu-button" >menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="dashboard-sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/user/{{id}}/userProfile" >
                <div routerLinkActive="dashboard-sidnav-i" [routerLinkActiveOptions]="{exact: true}">
                    Home
                </div>
            </a>
            <a mat-list-item routerLink="/user/{{id}}/contentList" >
                <div routerLinkActive="dashboard-sidnav-i" [routerLinkActiveOptions]="{exact: true}">
                    Content 
                </div>
            </a>
            <a mat-list-item routerLink="user/{{id}}/likedPosts">
                <div routerLinkActive="dashboard-sidnav-i">
                    Liked Posts
                </div>
            </a>
            <a mat-list-item routerLink="/user/{{id}}/savedPosts">
                <div routerLinkActive="dashboard-sidnav-i">
                    savedPosts
                </div>
            </a>
            <a mat-list-item routerLink="/user/{{id}}/userApplications">
                <div routerLinkActive="dashboard-sidnav-i">
                    userApplications
                </div>
            </a>
            <a mat-list-item routerLink="/user/{{id}}/PasswordChangingPage">
                <div routerLinkActive="dashboard-sidnav-i">
                    Change Password
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height:100%;width:100%;scroll-behavior: smooth;">
        <!--######################ROUTER OUTLET######################-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
