<div class="requests-container">
    <div class="requests-with-search">
        <div class="d-flex justify-content-between">
            <input type="text" placeholder="Search..." class="requests-search">
            <button class="requests-sortBtn">Sort A-Z</button>
        </div>
        <div class="requests-list">
            <div class="d-flex align-items-center justify-content-center">
                <h1>requests List</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Activity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let r of requestsTable">
                        <td>
                            {{getRequestUser(r.requestUserID)?.username}}
                        </td>
                        <td>
                            {{getRequestActivity(r.requestActivityID)?.title}}
                        </td>
                        <td>
                            <button class="requests-approveBtn" (click)="acceptRequest(r.requestUserID,r.requestActivityID,r.requestID)">Approve</button>
                            <button class="requests-cancelBtn" (click)="deleteRequest(r.requestID)">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>