/*
.slFull{
    display: flex;
    background-image: url("../../../../assets/images/pattern.png");
    background-repeat: no-repeat;
    background-position: bottom left 2rem;
    background-size: 90% 90%;
}
.flex1{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    grid-template-areas:
    "info info banner banner"
    "info info detailsec detailsec";
}
.info{
    grid-area:info;
    display:flex;
    align-items:center;
    justify-content:center;
    min-width: 30%;
    width:auto;
    height: 34rem;
    padding:10px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
.detailSec{
    grid-area:detailsec;
    display: flex;
    height: 28rem;
}
.sideSec{
    grid-area:sidesec;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.banner{
    grid-area:banner;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    place-items: center;
    height: 6rem;
    width: 100%;
    border-bottom: 4px solid black;
}
.wave{
    
    height: 35rem;
    width: 50%;
    border-left: 4px solid black;
    overflow: hidden;
    background-image: url("../../../../assets/images/wave.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    filter: grayscale();
}
.banner h1{
    color: black;
    text-transform: uppercase;
    font-size: 5rem;
    transform:scale(1.75,1);
}

.empBG{
    width: 15%;
    height: 28rem;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
.para{
    color: black;
    width: 35%;
    height: 28rem;
    border-bottom: 4px solid black;
}
.para h1,p{
    margin-inline: 1rem;
}
.para h1{
    margin-top: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*/
.formPage{
    display:flex;
}
.form-container{
    display:grid;
    width:100%;
    grid-template-columns: minmax(auto,500px) minmax(auto,100px) minmax(auto,400px)  auto;
    grid-template-rows: minmax(auto,150px) minmax(auto,400px) auto;
    grid-template-areas: 
    "info banner banner banner"
    "info empBG details wave"
    "bottomimg bottomimg bottomimg wave"
}
.side{
    grid-area:side;
}
.info{
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    grid-area:info;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-area:banner;
    border-bottom: 4px solid black;
}
.banner h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 5rem;
    transform:scale(3,1.5);
}
.empBG{
    grid-area:empBG;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
.wave{
    grid-area:wave;
    overflow: hidden;
    background-image: url("../../../../assets/images/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300%;
    filter: grayscale();
}   
.detailSec{
    grid-area:details;
    padding:15px;
    text-align: justify;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}
.detailSec h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:4rem;
    text-align: center;
    line-height: 4rem;
    color: black;

}

.empBG{
    background-image: url(../../../../assets/images/bg4.jpg);
}
.detailSec p{
    margin-top: 2rem;
    text-align: center;
    margin-inline: 1.5rem;
    font-size: 1.5rem;
}
.bottomimg{
    background-image: url(../../../../assets/images/contentListBackground.png);
    grid-area:bottomimg;
    border-right: 4px solid black;
}
@media screen and (max-width: 1440px){
    
    .form-container{
        grid-template-columns: minmax(auto,500px) minmax(auto,100px) minmax(auto,400px)  auto;
        grid-template-rows: minmax(auto,150px) minmax(auto,400px) auto;
        display:grid;
        grid-template-areas: 
        "info banner banner banner"
        "info empBG details details"
        "bottomimg bottomimg bottomimg bottomimg"
    }
}
@media screen and (max-width: 1024px) {
    .form-container{
        display:grid;
        grid-template-columns: minmax(auto,350px) minmax(auto,100px) minmax(auto,400px);
        grid-template-rows: minmax(auto,150px) minmax(auto,350px) auto;
        grid-template-areas: 
        "info banner banner banner"
        "info empBG details details"
        "bottomimg bottomimg bottomimg bottomimg";
        height:60vh;
    }
    .info{
        grid-area:info;
    }
    .banner h1{
        color: black;
        text-transform: uppercase;
        font-size: 2rem;
        transform:scale(1.75,1);
    }
}
@media screen and (max-width: 1024px){
    .form-container{
        display:grid;
        grid-template-columns: auto ;
        grid-template-rows: minmax(auto,150px) minmax(auto,350px) auto;
        grid-template-areas: 
        "banner"
        "info"
        "info"
        "details"
    }
}