<div class="formPage">
    <app-side></app-side>
    <div class="form-container">
        
        <div class="info">
            <router-outlet></router-outlet>
        </div>
        <div class="banner">
            <h1>Artvibe</h1>
        </div>
        <div class="empBG"></div>
        <div class="detailSec">
            <h1>Security Notice</h1>
                <p>
                    Once you're in, your data is in safer hands than a ninja in a fortress. 
                    We promise not to use it for anything remotely exciting—no secret missions 
                    or world domination plots here. Consider your personal info more secure than
                    a hermit crab in a titanium shell
                </p>
        </div>
        <div class="wave"></div>
        <div class="bottomimg"></div>
    </div>
</div>