.contentList-container{
    height: 90vh;
    background-image: url(../../../assets/images/contentListBackground.png);
    overflow-y: scroll;
}
.activitieslist-search{
    margin-top:100px;
    margin-bottom:-200px;
    margin-left:240px;
    border:3px solid black;
    padding:15px;
    position:sticky;
}