@font-face {
    font-family: saint;
    src: url(/src/assets/fonts/Saint\ Regular.ttf);
}

html, body { 
    height: 100%; 
}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
