<div class="activities-container">

    <div class="activities-with-search">
        <div class="d-flex justify-content-between">
            <input type="text" placeholder="Search..." class="activitieslist-search">
            <button class="activitieslist-sortBtn">Sort A-Z</button>
        </div>
        <div class="activitites-list">
            <div class="d-flex align-items-center justify-content-center">
                <h1>List Of Activities</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th style="text-align: center;">Participant number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let act of activitiesTable">
                        <td>
                            {{act.title}}
                        </td>
                        <td>
                            {{act.date | date:"YYYY-MM-dd"}}
                        </td>
                        <td>
                            {{act.category}}
                        </td>
                        <td class="d-flex justify-content-center">
                            <p class="badge bg-black participant-number" >
                                {{act.participantNB}}
                            </p>
                        </td>
                        <td>
                            <button class="activitieslist-deleteBtn" (click)="deleteActivityById(act.activityID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between" >
            <button class="activitieslist-addBtn" mat-raised-button (click)="openAddActivity()">Add activity</button>
        </div>
    </div>
</div>