<div class="activities-container">

    <div class="activities-with-search">
        <div class="d-flex justify-content-between">
            <input type="text" placeholder="Search..." class="activitieslist-search">
            <button class="activitieslist-sortBtn">Sort A-Z</button>
        </div>
        <div class="activitites-list">
            <div class="d-flex align-items-center justify-content-center">
                <h1>List Of Activities</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th style="text-align: center;">Participant number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let act of activitiesTable">
                        <td>
                            {{act.title}}
                        </td>
                        <td>
                            {{act.date | date:"YYYY-MM-dd"}}
                        </td>
                        <td>
                            {{act.category}}
                        </td>
                        <td class="d-flex justify-content-center">
                            <p class="badge bg-black participant-number" >
                                {{act.participantNB}}
                            </p>
                        </td>
                        <td>
                            <button class="activitieslist-deleteBtn" (click)="deleteActivityById(act.activityID)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-column align-items-center" >
            <button class="activitieslist-addBtn" mat-raised-button (click)="toggleForm()">Add activity</button>
            <div *ngIf="showForm" class="activityForm-container">
                <form [formGroup]="acitivityForm" class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" formControlName="title" class="form-control">
            
                <label for="date">Date:</label>
                <input type="date" id="date" formControlName="date"class="form-control">
            
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description"class="form-control"></textarea>
            
                <label for="category">Category:</label>
                <input type="text" id="category" formControlName="category"class="form-control">
            
                <label for="photo">Photo:</label>
                <input type="file" id="photo" formControlName="photo"class="form-control">
            
                <button type="submit"class="form-control activitieslist-addBtn" (click)="toggleForm()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>