<div class="post-container d-flex">
    <div class="postImage-container d-flex justify-content-center align-items-center">
        <img src="../../../assets/images/woman.png" alt="post">
    </div>
    <div class="postDetails-container d-flex flex-column justify-content-center align-items-center">
        <div class="title">
            <h1>TITLE TITLE</h1>
        </div>
        <div class="uploader d-flex flex-column">
            <img src="" alt="profile pic">
            <h1>Uploader</h1>
        </div>
        <h2 class="caption">Post caption</h2>
        <p class="date" style="font-size: 1.5rem; color: rgba(0, 0, 0, 0.4);">Date of post</p>
        <div class="participants-section">
            <h3 style="font-size: 1.4rem; font-weight: bold;">Participants</h3>
            <ul>
                <li>participant</li>
                <li>participant</li>
                <li>participant</li>
            </ul>
        </div>
        <p class="description-para"></p>
    </div>
</div>